:root {
    --dark-teal: teal;
    --teal: #20c997;
    --light-teal: #9df8dd;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.avatar {
    margin: auto;
    width: 36px;
    height: 36px;
}

.small-container {
    width: 480px;
    margin: 1.5rem auto;

    border: 1px solid #6c757d;
    border-radius: 0.25rem;
}

.question {
    margin: 0.25rem;
    padding: 0.25rem;

    background-color: var(--bs-light);
    /* color: #fff; */

    /* border: 1px solid #6c757d; */
    border: 1px solid var(--bs-dark);
    border-radius: 0.25rem;

    cursor: pointer;
    user-select: none;
}

.question-full-start {
    margin-right: 5%;
    width: 33.33%;
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid var(--bs-secondary);
}

.usercard-userinfo {
    border-right: 2px solid #6c757d;
}

.author, .date {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    color: var(--bs-secondary);
    font-size: 0.7rem;
}

.hint {
    width: 160px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--bs-secondary);
}

.hide {
    opacity: 0;
}

.square-64 {
    height: 100px;
    width: 100px;
}

.large-avatar-image {
    margin: auto;
    width: 100%;
    max-width: 100px;
}

.avatar-image {
    width:100%;
    max-width:36px;
}

.small-avatar-image {
    width:100%;
    max-width: 18px;
}

.side-nav {
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;

    background-color: var(--bs-dark);
}

.side-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 8px auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-nav-img {
    padding: 0.25rem
}

.dummy {
    cursor: default;
}

.sidebar-nav-link {
    padding: 0;
}

.sidebar-nav-link.active::before {
    content: "";
    height: 40px;
    margin: 4px -4px;
    position: absolute;
    left: 0;
    border-right: 8px solid var(--teal);
    border-radius: 0.25rem;
}

.sidebar-nav-link.active {
    color: #fff;
}

.sidebar-nav-link:not(.active) {
    color: #6c757d;
}

.question-nav-item {
    width: 50%;
}

/* .questions-nav-link {
    width: 50%;
    margin: auto;
} */

.questions-nav-link.active {
    font-weight: bold;
}

.btn-teal {
    color: #fff;
    background-color: var(--teal);
    border-color: var(--teal);
}

.btn-teal:hover {
    color: #fff;
    background-color: var(--dark-teal);
    border-color: var(--dark-teal);
}

.btn-outline-teal {
    color: var(--teal);
    background-color: #fff;
    border-color: var(--teal);
}

.btn-outline-teal:hover {
    color: #fff;
    background-color: var(--teal);
    border-color: var(--teal);
}

.logout-btn {
    cursor: pointer;
}

.fa-15x {
    font-size: 1.5em;
}

.mx-128 {
    margin: 0 128px;
}

.lb-table {
    max-width: 80%;
}

.lb-row {
    display: flex;
    background-color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
    border-radius: 0.25rem;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.lb-row-start {
    width: 25%;
    padding: 0.5rem;
    border-right: 2px solid var(--bs-secondary);
}

.lb-row-mid {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 24px;
    text-align: left;
    border-right: 2px solid var(--bs-secondary);
}

.lb-row-end {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
    text-align: center;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.pos {
    font-size: 12px;
    color: black;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    position: absolute;
}

.pts {
    background-color: var(--bs-success);
    color: var(--bs-light);
    text-shadow: 1px 1px 1px black;
}

.unanswered-question-answers {
    display: flex;
    justify-content: space-between;
}

.question-answer {
    background-color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
    border-radius: 0.25rem;
}

.question-answer.unanswered:hover {
    filter: brightness(85%);
    box-shadow: 2px 2px 2px 0 var(--bs-dark);
}

.unanswered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    cursor: pointer;
}

.answered {
    padding: 0.5rem;
    font-size: 0.96rem;

    border: 1px solid var(--bs-secondary);
    border-radius: 0.25rem;
}

.answer-selected {
    background-color: var(--bs-success);
    color: var(--bs-light);
    text-shadow: 1px 1px 2px var(--bs-dark);
    box-shadow: 1px 1px 2px 0px var(--bs-dark);
}

.answer-selected-light {
    background-color: rgba(133, 255, 255, 0.377);
    border: 2px solid var(--bs-teal);
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

.sidebar-name-label {
    position: absolute;
    font-weight: bold;
    background-color: rgba(160, 160, 160, 0.2);
    border: 2px solid rgba(160, 160, 160, 0.6);
    color: rgba(25,25,25,0.7);
    border-radius: 1.5rem;
    padding: 0 0.5rem;
    top: 24px;
    left: 49px;
    transition: all 0.15s;
}

.nav-questions {
    padding: 0.5rem 0.5rem 0 0.5rem;
    justify-content: center;
}

.nav-link-success {
    display: block;
    background-color: var(--bs-light);
    padding: .5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: all 0.15s;
}

.nav-link-success.active {
    color: #fff;
    background-color: var(--bs-success);
}

.nav-link-success:hover {
    filter: brightness(85%);
}